 body { 

   }

      h2 { 
       font-size: 17px;
        }


     .topnav {
    overflow: hidden;
    
      }




    .topnav a {
    	margin-top: 20px;
    	margin-right: 20px;
        float: right;
        color: black;
        text-align: left;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 15px;
        font-family: 'Open Sans', sans-serif;
    }

     .top {
     	 border: 4px solid orange;
     	 background: orange;
     	 margin-top: -10px;
     	 margin-left: -50px;
     	 margin-right: -50px;
     }
    

     .top2 {
     	 color: white;
     	 font-family: helvetica;
     	 margin-left: 500px;
     	 margin-top: -110px;
     }

      .top3 {
      	 margin-left: 950px;
      	 margin-top: -95px;
      }

      .banner1 { 
      	    display: block;
            margin-top: 35px;
            margin-left: 450px;
        }

        .gld { 
        	  font-family: tahoma;
        	  padding-left: 10px;
        	  color: orange;
        	  border: 4px solid orange;
        	  border-width: 5px;  
        	  width: 500px;
        	  height: 180px;
              margin-left: 200px;
              margin-top: 20px;
          } 

          .gld2 {
          	 font-family: tahoma;
          	 color: orange;
          	 margin-left: 220px;
          	 margin-top: -85px;

          }

          #line1 {
          	margin: -35px;
          	color: yellow;
          	 margin-top: -75px;
          }

          #gld3 { 
             font-family: tahoma;
             color: orange;
             margin-left: 220px;
             padding-left: 30px;
            }


            .gfau { 
                font-family: tahoma;
                padding-left: 10px;
                color: orange;
                border: 4px solid orange;
                border-width: 5px;  
                 width: 500px;
                 height: 180px;
                 margin-left: 500px;
                 margin-top: -185px;
              }

              .gfau2 { 
                  font-family: tahoma;
		           color: orange;
		          	margin-left: 520px;
		          	margin-top: -85px;
		            
                }


                #gfau3 { 
                     font-family: tahoma;
                     color: orange;
                     margin-left: 520px;
                     padding-left: 30px;
                  }

                  #line2 { 
                           margin: -35px;
          	               color: yellow;
          	               margin-left: 515px;
          	               margin-top: -75px;
                    }

                    #banner2 { 
                          margin-top: 70px;
                          margin-left: -30px;
                      }

                      #banner3 { 
                      	     margin-top: -253px;
                             margin-left: 320px;
                        }


                        #banner4 { 
                        	 margin-top: -253px;
                             margin-left: 670px;
                          }


                          .gra {
                             font-family: tahoma; 
                             padding-left: 10px;
                             color: orange;
                             border: 4px solid orange;
                             border-width: 5px;  
                             width: 500px;
                             height: 180px;
                             margin-left: -55px;
                             margin-top: 10px;
                            }

                            .gra2 { 
                                font-family: tahoma;
                                color: orange;
                                margin-top: -85px;
                                margin-left: -35px;

                              }


                              #line3 {
                              	 margin: -40px;
          	                     color: yellow;
          	                     margin-top: -38px;         	                     
                              }


                              #gra3 { 
                                  font-family: tahoma;
                                  color: orange;
                                  margin-top: 30px; 
                                }

                                .silv { 
                                	 font-family: tahoma;
                                     color: orange;
                                     margin-left: 495px;
                                     margin-top: -185px;
                                     padding-left: 10px;
                                     border: 4px solid orange;
                                     border-width: 5px;  
                                     width: 500px;
                                     height: 180px;
                                  }

                                  .silv2 { 
                                       font-family: tahoma;
                                       color: orange;
                                       margin-top: -85px;
                                       margin-left: 520px;
                                    }


                                    #line4 { 
                                       margin: -40px;
          	                           color: yellow;
          	                           margin-top: -38px;
          	                           margin-left: 515px;  
                                      }

                                      #silv3 { 
                                            font-family: tahoma;
                                           color: orange;
                                           margin-left: 550px;
                                           margin-top: 30px; 
                                        }


                                        #banner5 { 
                                             margin-top: 25px;
                                             margin-left: 90px;
                                          }

                                       .moremoney { 
                                            font-family: tahoma;
                                            color: orange;
                                            margin-top: 10px;
                                            margin-left: -55px;
                                            padding-left: 10px;
                                            border: 4px solid orange;
                                            border-width: 5px;  
                                            width: 500px;
                                            height: 180px; 
                                          }


                                          .moremoney2 { 
                                                font-family: tahoma;
                                                color: orange;
                                                margin-top: -85px;
                                                margin-left: -35px;
                                            }

                                            #line5 { 
                                                 margin: -40px;
          	                                     color: yellow;
          	                                     margin-top: -38px;  
                                              }

                                              #moremoney3 { 
                                                    font-family: tahoma;
                                                    color: orange;
                                                    margin-top: 30px; 
                                                }

                                                .coinpay { 
                                                    font-family: tahoma;
                                                    color: orange;
                                                    margin-left: 495px;
                                                    margin-top: -185px;
                                                    padding-left: 10px;
                                                    border: 4px solid orange;
                                                    border-width: 5px;  
                                                    width: 500px;
                                                    height: 180px;
                                                     }


                                                     .coinpay2 { 
                                                         font-family: tahoma;
                                                         color: orange;
                                                         margin-top: -85px;
                                                         margin-left: 520px;
                                                       }

                                                       #line6 { 
                                                           margin: -40px;
          	                                               color: yellow;
          	                                               margin-top: -38px;
          	                                               margin-left: 515px;  
                                                         }

                                                       #coinpay3 { 
                                                             font-family: tahoma;
                                                             color: orange;
                                                             margin-left: 550px;
                                                             margin-top: 30px; 
                                                         }


                                                         #banner6 { 
                                                             margin-top: 25px;
                                                             margin-left: 240px;
                                                           }

                                                           #banner7 { 
                                                                margin-top: 10px;
                                                                margin-left: 320px;
                                                             }

                                                            